html {
    font-family: helvetica, arial;
}

h5 {
    margin: 3px;
}

#react-root {
    position: relative;
}

#page-modules {
    display: flex;
}

.user-list {
    width: 20%;
}

.token-list {
    margin-left: 1%;
    width: 20%
}

.message-list {
    margin-left: 1%;
    width: 60%
}

.clickable {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.info-field {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.info-field-selected {
    border: #77a solid 1px;
    border: #77a solid 1px;
    margin: 1px;
}

.info-field-item {

}

.user-entry             { background: #ccf; }
.user-entry:hover       { background: #ddf; }
.user-entry-selected    { background: #aac; }

.token                  { background: #cdf; }
.token:hover            { background: #def; }
.token-selected         { background: #abc; }

.chat-separator {
    text-align: center;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.chat-message {
    background: #ddf;
    margin-bottom: 4px;
    padding: 2px;
}

.chat-date {
    font-size: .8em;
}

.chat-user {
    font-size: .93em;
    background: #ccd;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.chat-user:hover {
    background: #d8d8f8;
}

.chat-text {
    margin: 0px;
    margin-top: 2px;
    padding: 2px;
    background: #eef;
    font-family: helvetica, arial;
}

.highlight .chat-message {
    background: #bbf;
}

.highlight .chat-text {
    background: #ccf;
}

.highlight .chat-user {
    font-weight: bold;
    background: #bbf;
}


.filter-input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.right {
    float: right;
}

.button {
    text-align: center;
    background: #ddd;
    cursor: pointer;
    border-radius: 14px;
    margin: 2px;
}

.button:hover {
    background: #ccf;
}

.button:active {
    background: #eef;
}

.button[disabled] {
    background: #eee;
    color: #ccc;
    cursor: unset;
}

label {
    padding-right: 10px;
}

.number-input {
    margin-bottom: 2px;
    border-radius: 5px;
}