html {
    font-family: helvetica, arial;
}

td {
    vertical-align: top;
    min-width: 150px;
}

h5 {
    margin: 3px;
}

.user-click {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.user-entry {
    background: #ccf;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.chat-separator {
    text-align: center;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.chat-message {
    background: #ddf;
    margin-bottom: 4px;
    padding: 2px;
}

.chat-date {
    font-size: .8em;
}

.chat-user {
    font-size: .93em;
    background: #ccd;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.chat-text {
    margin: 0px;
    margin-top: 2px;
    padding: 2px;
    background: #eef;
    font-family: helvetica, arial;
}

.highlight .chat-message {
    background: #bbf;
}

.highlight .chat-text {
    background: #ccf;
}

.highlight .chat-user {
    font-weight: bold;
    background: #bbf;
}

.token {
    max-width: 200px;
    background: #cdf;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.right {
    float: right;
}
